
evoting-backend-app/.vs/evoting-backend-app/xs/project-cache/evoting-backend-app-Debug.json
evoting-backend-app/.vs/evoting-backend-app/xs/UserPrefs.xml
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/DnsClient.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/DnsClient.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/DnsClient.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.deps.json
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/DnsClient.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.pdb
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.runtimeconfig.dev.json
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Microsoft.OpenApi.dll
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/staticwebassets/evoting-backend-app.StaticWebAssets.Manifest.cache
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.dgspec.json
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.g.props
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.dgspec.json
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/ref/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.pdb
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.genruntimeconfig.cache
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.csprojAssemblyReference.cache
evoting-backend-app/evoting-backend-app/obj/project.nuget.cache
evoting-backend-app/evoting-backend-app/obj/project.assets.json
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.g.targets
evoting-backend-app/evoting-backend-app/obj/project.nuget.cache
evoting-backend-app/evoting-backend-app/obj/project.nuget.cache
evoting-backend-app/evoting-backend-app/obj/project.assets.json
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.g.targets
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.g.props
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.dgspec.json
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/ref/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.pdb
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.genruntimeconfig.cache
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.csprojAssemblyReference.cache
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.csproj.FileListAbsolute.txt
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.csproj.CoreCompileInputs.cache
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.assets.cache
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.Annotations.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/SharpCompress.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/snappy64.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/snappy32.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/mongocrypt.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/libzstd.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/osx/native/libmongocrypt.dylib
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/linux/native/libmongocrypt.so
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/ref/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Newtonsoft.Json.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Driver.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Libmongocrypt.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Microsoft.OpenApi.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Bson.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Driver.Core.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.runtimeconfig.dev.json
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.pdb
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.deps.json
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/DnsClient.dll
evoting-backend-app/evoting-backend-app/obj/project.nuget.cache
evoting-backend-app/evoting-backend-app/obj/project.assets.json
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.g.targets
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.g.props
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.dgspec.json
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/ref/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.pdb
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.genruntimeconfig.cache
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.csprojAssemblyReference.cache
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.csproj.FileListAbsolute.txt
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.csproj.CoreCompileInputs.cache
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.assets.cache
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.Annotations.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/SharpCompress.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/snappy64.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/snappy32.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/mongocrypt.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/libzstd.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/osx/native/libmongocrypt.dylib
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/linux/native/libmongocrypt.so
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/ref/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Newtonsoft.Json.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Driver.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Libmongocrypt.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Microsoft.OpenApi.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Bson.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Driver.Core.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.runtimeconfig.dev.json
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.pdb
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.deps.json
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/DnsClient.dll
evoting-backend-app/evoting-backend-app/obj/project.nuget.cache
evoting-backend-app/evoting-backend-app/obj/project.assets.json
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.g.targets
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.g.props
evoting-backend-app/evoting-backend-app/obj/evoting-backend-app.csproj.nuget.dgspec.json
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/ref/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.pdb
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.genruntimeconfig.cache
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.csprojAssemblyReference.cache
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.csproj.FileListAbsolute.txt
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.csproj.CoreCompileInputs.cache
evoting-backend-app/evoting-backend-app/obj/Debug/net5.0/evoting-backend-app.assets.cache
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Swashbuckle.AspNetCore.Annotations.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/SharpCompress.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/snappy64.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/snappy32.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/mongocrypt.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/win/native/libzstd.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/osx/native/libmongocrypt.dylib
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/runtimes/linux/native/libmongocrypt.so
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/ref/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Newtonsoft.Json.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Driver.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Libmongocrypt.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/Microsoft.OpenApi.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Bson.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/MongoDB.Driver.Core.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.runtimeconfig.dev.json
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.pdb
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.dll
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/evoting-backend-app.deps.json
evoting-backend-app/evoting-backend-app/bin/Debug/net5.0/DnsClient.dll
